:root{
    font-size: 16px;
}
*{
    margin: 0 0;
}
li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
button{
    border-style: none;
}
ul{
    padding-top: 15vh;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #FFF;
    position: fixed;
}

.supContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.button{
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    background-color: antiquewhite;
}

.button:hover{
    background-color: aquamarine;
}