:root {
    font-size: 16px;
}

* {
    margin: 0 0;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button {
    border-style: none;
}

.selectedContainer {
    display: flex;
    flex-wrap: wrap;
}

.herosImg {
    height: 10rem;
    aspect-ratio: 1/2;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ttl {
    padding-top: 30vh;
}

.selected {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    position: fixed;
}

.supContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.button {
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    background-color: antiquewhite;
}

.button:hover {
    background-color: aquamarine;
}

.battle {
    display: flex;
    background-color: #FFF;
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

}

.name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.publisher, 
.alignment, 
.name {
    text-align: center;
}

.alignment {
    font-weight: bold;
}

.intel {
    color: #4086C3;
}

.strength {
    color: #C33737;
}

.speed {
    color: #5B9F5E;
}